<%-contentFor('leftmenu') %>
    <% include ./partials/leftmenu %>

<%- contentFor('body') %>
    <h1 class="mt-4"><%= dashboard_title %></h1>

    <a href="/album/create" class="btn btn-primary">Create New Album</a>
    <a href="/playlist/create" class="btn btn-primary">Create New Playlist</a>
    <a href="/music/upload" class="btn btn-primary">Upload New Music</a>
    <a href="/users/logout" class="btn btn-tertiary">Logout</a>

<%- contentFor('rightmenu') %>
    <% include ./partials/rightmenu %>

<%- contentFor('footer') %>
    <% include ./partials/footer %>